@model RegisterViewModel

@section Css {
    <link href="~/css/registrationFormPage.css" rel="stylesheet" />
}


<div class="registrationPageContainer">

    <div class="registrationFormContainer">
        <h2 class="registrationWelcome">Sign up for free!</h2>

        <form id="registrationForm" asp-action="Register" method="post" id="userRegisterForm">
            <div asp-validation-summary="All"></div>
            
            <label asp-for="UserName" >username</label>
          
            <input asp-for="UserName"  type="text" placeholder="enter username..." />   
            <span asp-validation-for="UserName"></span>
            
              
            <label asp-for="Email">email</label>   
            
            <input asp-for="Email"  type="email" placeholder="enter email..." />
            <span asp-validation-for="Email"></span>
           
            <label asp-for="Password">password</label>
            
            <input asp-for="Password"  type="password" placeholder="enter password..." />
            <span asp-validation-for="Password"></span>
           
     
            <label asp-for="ConfirmPassword">confirm password</label> 
            
            <input asp-for="ConfirmPassword" type="password" placeholder="confirm password..." />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            

            <label asp-for="Age">age</label>  
           
            <input asp-for="Age"  type="number" placeholder="enter age..." />
            <span asp-validation-for="Age" placeholder="enter age"></span>
            <br /><br />
             

            <button type="submit" id="registrationFormButton">Register</button>
        </form>
    </div>
    
    <div class="validationCol">
        <div class="validationHelp">
            <p>username and email must be unique</p>
            <p>passwords must contain:
            <ul><li>at least 6 characters.</li></ul>
            <ul><li>at least one non alphanumeric character.</li></ul>
            <ul><li>at least one digit ('0'-'9').</li></ul>
            <ul><li>at least one uppcase ('A'-'Z').</li></ul>
            <p class="ageValidation">users must be minumum age of <span class="16">16</span> to use this site</p>
        </div>
    <div class="validationDecoration"> </div>
    </div>
</div>