    html {
        font-size: 14px;

    }

    header {
        background: #DDDDDF;
    }
    @media (min-width: 768px) {


      html {
        font-size: 16px;
      }
    }


    html {
      position: relative;
      min-height: 100%;
      font-family: "Poppins", sans-serif;
    }

    body {
        margin-bottom: 60px;
        background: #DDDDDF;
        font-family: "Poppins", sans-serif;
    }

@media screen and (min-width: 1080px) {

  /*NAVS*/
  /*GUEST NAV*/


    .generic-links {
        margin-top: .1rem;
        margin-bottom: .1rem;
        margin-left: 5em;
        display: flex;
        justify-content: flex-end;
        gap: 2em;
    }

    .nav-item-home a,
    .nav-item-catalogue a {
        padding: 0.5rem 1rem;
        border-radius: 5em;
        transition: background-color 0.3s ease;
        border: solid 1px;
        border-color: #FFFFFF;
    }

        .nav-item-home a:hover,
        .nav-item-catalogue a:hover {
            background-color: #f0f0f0;
            border: solid 1px;
            border-color: #568DE5;
        }

    .auth-links {
        margin-top: .1rem;
        margin-bottom: .1rem;
        margin-right: 5em;
        display: flex;
        justify-content: flex-end;
        gap: 2em;
    }
    .nav-item-register a,
    .nav-item-login a
{
    padding: 0.5rem 1rem;
    border-radius: 5em;
    transition: background-color 0.3s ease;
    border: solid 1px;
    border-color: #FFFFFF;
}

.nav-item-register a:hover,
.nav-item-login a:hover {
    background-color: #f0f0f0;
    border: solid 1px;
    border-color: #568DE5;
}


    /*ItemDetails Page*/
    .detailsItemListingTitle {
        text-decoration: underline;
    }

    .item-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-image-container {
        margin-bottom: 20px;
    }

    .thumbnails-container {
        display: flex;
        gap: 10px;
        padding: 10px;
        overflow-x: auto;
    }

    .thumbnail {
        transition: transform 0.2s;
        margin: 0 5px;
    }

        .thumbnail:hover {
            transform: scale(1.1);
            opacity: 0.8;
        }

    #cataloguePageCounter {
        margin: 1em;
        margin-left: 13em;
        display: flex;
        justify-content: flex-start;
    }

    .pagination li {
        margin-right: 5px;
    }

    .catalogueCategoryHeader {
        margin-left: 20em;
    }

    .category-list .list-group-item.active {
        font-weight: bold;
        background-color: transparent;
        border-left: 5px solid #007bff;
    }

    /*End of Media Query 1920px > */
}