    html {
        font-size: 14px;

    }

    header {
        background: #DDDDDF;
    }
    @media (min-width: 768px) {


      html {
        font-size: 16px;
      }
    }


    html {
      position: relative;
      min-height: 100%;
      font-family: "Poppins", sans-serif;
    }

    body {
        margin-bottom: 60px;
        background: #DDDDDF;
        font-family: "Poppins", sans-serif;
    }

@media screen and (min-width: 1920px) {

    /*Registration Page*/
    .registrationPageGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .1em;
        
    }

   

    .validationHelp {
        height: 30em;
        width: 60%;
        margin: 0 auto;
        margin-top: 10em;
        text-align: center;
        padding: 1em;
        background: rgba(255, 255, 255, 0.5);
        border-style: solid;
        border-width: .1em;
        border-radius: 5%;
        box-shadow: .5em .5em 0px 0px #a0a0a0;
    }

        .validationHelp h1 {
        font-size:1.2em;
        font-weight:400;
        
    }

        .validationHelp ul{
            text-align:left;
        }


/*Login Form Page*/


 



        /*Catalogue Page*/

    #itemsGrid {
        background-color: rgb(91, 91, 255, .5);
        padding: 1.5em, 2em;
        margin-top: 5em;
        justify-content: space-between;
    }

    .list-group-item {
        color: rgb(91, 91, 255, .55);
    }

    #individualItemGrid {
        border: solid;
        background-color: rgb(91, 91, 255, .15);
        padding: 1em;
        align-items: center;
    }

    .card {
        margin: 1em;
        background-color: rgb(91, 91, 255, .35);
    }

    .carousel-item {
        transition: transform 0.2s ease-in-out;
        background-color: white;
    }
  

    /*ItemDetails Page*/
    .detailsItemListingTitle{
        text-decoration:underline;
    }

    .item-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-image-container {
        margin-bottom: 20px;
    }

    .thumbnails-container {
        display: flex;
        gap: 10px;
        padding: 10px;
        overflow-x: auto;
    }

    .thumbnail {
        transition: transform 0.2s; /* Animation */
        margin: 0 5px;
    }

    .thumbnail:hover {
            transform: scale(1.1); /* Slightly enlarge thumbnails on hover */
            opacity: 0.8;
    }

    #cataloguePageCounter {
        margin: 1em;
        margin-left: 13em;
        display: flex;
        justify-content: flex-start;
    }

    .pagination li {
        margin-right: 5px;
    }
  .catalogueCategoryHeader{
            margin-left: 20em;
  }

    .category-list .list-group-item.active {
        font-weight: bold; 
        background-color: transparent; 
        border-left: 5px solid #007bff; 
    }
    /*End of Media Query 1920px > */
}